<app-header titulo="{{ 'rotaciones' | translate }}"></app-header>

<ion-content>

    <ion-button color="macana" fill="outline" expand="full" routerLink="/rotaciones-detail">{{ 'crearRotacion' | translate }}</ion-button>

    <!-- Este seccion permite que cuando con el dedo desde la parte superior se desliza hacia abajo, 
    entonces se refresque la lista, llamando al metodo refrescar-->
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <br />

    <!-- Por cada uno de los roles en el listado de roles, se va a generar cada elemento del listado, ademas se
    genera dinamicamente un evento click con todos los datos que se cargaran visualmente -->
    <!-- (click)="viewRotacion(rotacion.id,rotacion.nombre,rotacion.cantvacas,rotacion.idresponsable)" -->
    <ion-item *ngFor="let rotacion of rotaciones" (click)="viewRotacion(rotacion.id, rotacion.nombre, rotacion.cantvacas)">
        <ion-avatar slot="start">
            <img src="{{baseUrl}}Resource/Images/Users/avatar_2x2.png" />
        </ion-avatar>
        <ion-label>
            <h3 slot="start">
                {{rotacion.nombre}}
            </h3>
            <p>{{rotacion.cantvacas}}</p>
        </ion-label>
    </ion-item>
</ion-content>