<app-header titulo="{{ 'planManejoFertilizacion' | translate }}"></app-header>


<ion-content>

    <ion-button color="macana" fill="outline" expand="full" routerLink="/plan-manejo-fertilizacion-detail">{{ 'crearPlanManejoFertilizacion' | translate }}</ion-button>

    <!-- Este seccion permite que cuando con el dedo desde la parte superior se desliza hacia abajo, 
    entonces se refresque la lista, llamando al metodo refrescar-->
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <br />

    <!-- Por cada uno de los planesManejo en el listado de planesManejo, se va a generar cada elemento del listado, ademas se
    genera dinamicamente un evento click con todos los datos que se cargaran visualmente -->
    <ion-item *ngFor="let planManejo of planesManejo" (click)="viewPlanManejoFertilizacion(planManejo.id,planManejo.periodicidad,planManejo.fechainicio,planManejo.fechafin,planManejo.observaciones)">
        <ion-avatar slot="start">
            <img src="{{baseUrl}}Resource/Images/Users/avatar_2x2.png" />
        </ion-avatar>
        <ion-label>
            <h3 slot="start">
                {{planManejo.fechainicio}}  /  {{planManejo.fechafin}}
            </h3>
            <p>{{planManejo.observaciones}}</p>
        </ion-label>
    </ion-item>
</ion-content>