<app-header titulo="{{ 'climatologico' | translate }}"></app-header>


<ion-content padding="padding">
  
  <form #formulario="ngForm" (ngSubmit)="saveClimatologicoData()">
    <ion-list>


      <ion-item>
        <ion-label position="floating">{{ 'fecha' | translate }}*</ion-label>

        <ion-input
          type="date"
          name="fecha"
          required="required"
          [(ngModel)]="climatologicoData.fecha"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"
          >{{ 'nubosidad' | translate }}</ion-label
        >

        <ion-input
          type="text"
          name="nubosidad"
          required="required"
          [(ngModel)]="climatologicoData.nubosidad"
        ></ion-input>
      </ion-item>



      <ion-item>
        <ion-label position="floating"
          >{{ 'pluviometria' | translate }}</ion-label
        >

        <ion-input
          type="number"
          name="pluviometria"
          required="required"
          [(ngModel)]="climatologicoData.pluviometria"
        ></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating"
          >{{ 'observaciones' | translate }}</ion-label
        >

        <ion-input
          type="text"
          name="observaciones"
          [(ngModel)]="climatologicoData.observaciones"
        ></ion-input>
      </ion-item>

   
    </ion-list>

    <ion-grid fixed="fixed">
      <ion-row class="ion-text-center">
        <ion-col size="12" *ngIf="!this.helperService.isValidValue(climatologicoData.id)">
          <ion-button
            color="macana"
            type="submit"
            [disabled]="formulario.invalid"
            fill="outline"
            expand="full"
            >{{ 'guardar' | translate }}</ion-button
          >
        </ion-col>


        <ion-col size="12" *ngIf="this.helperService.isValidValue(climatologicoData.id)">
            <ion-button
              color="macana"
              type="submit"
              [disabled]="formulario.invalid"
              fill="outline"
              expand="full"
              >{{ 'editar' | translate }}</ion-button
            >
          </ion-col>

          
        
        <ion-col size="12" *ngIf="this.helperService.isValidValue(climatologicoData.id)">
            <ion-button
              color="macana"
              fill="outline"
              expand="full"
              (click)="deleteClimatologicoData();"
              >{{ 'eliminar' | translate }}</ion-button
            >
          </ion-col>

        <ion-col size="12">
            <ion-button
              color="macana"
              fill="outline"
              routerLink="/estado-climatologico"
              expand="full"
              >{{ 'regresar' | translate }}</ion-button
            >
          </ion-col>
      </ion-row>

    
    </ion-grid>
  </form>
</ion-content>

