<app-header titulo="{{ 'usuarios' | translate }}"></app-header>

  <ion-content>

    <ion-button color="macana" fill="outline" expand="full" routerLink="/usuarios-detail"
      >Crear usuario</ion-button
    >


    <ion-refresher slot="fixed" (ionRefresh)="refreshPost($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <br />

    <ion-item
      *ngFor="let usuario of usuarios"
      (click)="viewUser(usuario.id,usuario.primer_nombre,usuario.segundo_nombre,
      usuario.primer_apellido,usuario.segundo_apellido,usuario.cedula,usuario.correo,usuario.celular,
      usuario.foto,usuario.foto_copia_ruta_original,usuario.usuario,
      usuario.rol_id,usuario.descripcion)"
    >
      <ion-avatar slot="start">
        <img
          src="{{baseUrl}}{{(usuario.foto !== '' &&  usuario.foto !==null)? usuario.foto: 'Resource/Images/Users/avatar_2x.png' }}"
        />
      </ion-avatar>
      <ion-label>
        <h3 slot="start">
          {{usuario.primer_nombre}} {{usuario.primer_apellido}}
        </h3>
        <p>{{usuario.usuario}}</p>
        <p>{{usuario.rol_nombre}}</p>
      </ion-label>
    </ion-item>
  </ion-content>
