<app-header-login
  titulo="{{ 'macanaTitulo' | translate }}"
></app-header-login>


<ion-content padding="padding">
  <!-- Con el position floating da el efecto de materalized, en 
            donde se selecciona la caja de texto, y sube el texto como el placeholder -->

  <form
    #formulario="ngForm"
    (ngSubmit)="identify()"
  >
    <ion-list>
      <ion-item>
        <ion-label position="floating">{{ 'ingreseUsuario' | translate }}</ion-label>

        <ion-input
          name="username"
          type="text"
          required="required"          
          [(ngModel)]="userDataLogIn.username"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">{{ 'ingresePassword' | translate }}</ion-label>

        <ion-input
          type="Password"
          name="password"
          required="required"
          [(ngModel)]="userDataLogIn.password"
        ></ion-input>
      </ion-item>
    </ion-list>

    <!-- El fixed agrega unos espacios y margenes a los lados del GRID o 
  tabla -->

    <ion-grid fixed="fixed">
      <ion-row>
        <ion-col size="12">
          <ion-button
            expand="full"
            color="macana"
            type="submit"
            [disabled]="formulario.invalid"
          >{{ 'acceder' | translate }}</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" (click)="openPage('https://google.com')">
          <div class="ion-text-center">
            <ion-label>{{ 'olvidoContrasena' | translate }}</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

