<!-- Componente del header que recibe el titulo que se mostrara, para que este sea reconocido, en el modulo 
se debe agregar el components-->
<app-header titulo="{{ 'roles' | translate }}"></app-header>

<ion-content>

    <ion-button color="macana" fill="outline" expand="full" routerLink="/roles-detail">{{ 'crearRol' | translate }}</ion-button>

    <!-- Este seccion permite que cuando con el dedo desde la parte superior se desliza hacia abajo, 
    entonces se refresque la lista, llamando al metodo refrescar-->
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <br />

    <!-- Por cada uno de los roles en el listado de roles, se va a generar cada elemento del listado, ademas se
    genera dinamicamente un evento click con todos los datos que se cargaran visualmente -->
    <ion-item *ngFor="let rol of roles" (click)="viewRol(rol.id,rol.nombre_rol,rol.descripcion)">
        <ion-avatar slot="start">
            <img src="{{baseUrl}}Resource/Images/Users/avatar_2x2.png" />
        </ion-avatar>
        <ion-label>
            <h3 slot="start">
                {{rol.nombre_rol}}
            </h3>
            <p>{{rol.descripcion}}</p>
        </ion-label>
    </ion-item>
</ion-content>