<app-header titulo="{{ 'aforos' | translate }}"></app-header>

<ion-content padding="padding">
    <form #formulario="ngForm" (ngSubmit)="saveAforoData()">
        <ion-list class="ion-text-center">
            <!-- **************INFORMACION BASICA ***************************** -->

            <ion-item>
                <ion-label>{{ 'fecha' | translate }}</ion-label>

                <ion-datetime placeholder="{{ 'seleccione' | translate }}" display-format="YYYY MM DD" cancelText="{{ 'cancelar' | translate }}" [(ngModel)]="aforoData.fecha" name="fechaAforo" [pickerOptions]="customPickerOptions"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'potrero' | translate }}*</ion-label>
                <ion-select placeholder="Seleccione" [(ngModel)]="aforoData.idpotrero" name="potreroAforo">
                    <ion-select-option *ngFor="let potrero of potreros" value="{{potrero.id}}">{{potrero.numero}}</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'pastoAlto' | translate }}* {{aforoData.pastoalto | number: '.'}}</ion-label>
                <ion-input type="number" name="pastoAltoAforo" required="required" [(ngModel)]="aforoData.pastoalto"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'pastoMedio' | translate }}* {{aforoData.pastomedio | number: '.'}}</ion-label>
                <ion-input type="number" name="pastoMedioAforo" required="required" [(ngModel)]="aforoData.pastomedio"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'pastoBajo' | translate }}* {{aforoData.pastobajo | number: '.'}}</ion-label>
                <ion-input type="number" name="pastoBajoAforo" required="required" [(ngModel)]="aforoData.pastobajo"></ion-input>
            </ion-item>
            <!-- **************END INFORMACION BASICA ***************************** -->

            <!-- **************VALORES DE LOS LANCES PARA FUTUROS CALCULOS***************************** -->

            <!-- **************LANCE ALTO***************************** -->
            <ion-row>
                <ion-col size="2">
                    <ion-button class="top-20" fill="outline" color="macana" (click)="disminuirLanceAlto();">-</ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-item>
                        <ion-label position="floating">{{ 'lanceAlto' | translate }}* {{aforoData.lancealto | number: '.'}}</ion-label>
                        <ion-input type="number" name="lanceAltoAforo" required="required" disabled [(ngModel)]="aforoData.lancealto"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2">
                    <ion-button class="top-20" fill="outline" color="macana" (click)="aumentarLanceAlto();">+</ion-button>
                </ion-col>
            </ion-row>
            <!-- **************END LANCE ALTO***************************** -->

            <!-- **************LANCE MEDIO***************************** -->
            <ion-row>
                <ion-col size="2">
                    <ion-button class="top-20" fill="outline" color="macana" (click)="disminuirLanceMedio();">-</ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-item>
                        <ion-label position="floating">{{ 'lanceMedio' | translate }}* {{aforoData.lancemedio | number: '.'}}</ion-label>
                        <ion-input type="number" disabled name="lanceMedioAforo" required="required" [(ngModel)]="aforoData.lancemedio"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2">
                    <ion-button class="top-20" fill="outline" color="macana" (click)="aumentarLanceMedio();">+</ion-button>
                </ion-col>
            </ion-row>
            <!-- **************END LANCE MEDIO***************************** -->

            <!-- **************LANCE BAJO***************************** -->
            <ion-row>
                <ion-col size="2">
                    <ion-button class="top-20" fill="outline" color="macana" (click)="disminuirLanceBajo();">-</ion-button>
                </ion-col>
                <ion-col size="8">
                    <ion-item>
                        <ion-label position="floating">{{ 'lanceBajo' | translate }}* {{aforoData.lancebajo | number: '.'}}</ion-label>
                        <ion-input type="number" disabled name="lanceBajoAforo" required="required" [(ngModel)]="aforoData.lancebajo"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="2">
                    <ion-button class="top-20" fill="outline" color="macana" (click)="aumentarLanceBajo();">+</ion-button>
                </ion-col>
            </ion-row>
            <!-- **************END LANCE BAJO***************************** -->

            <!-- **************END VALORES DE LOS LANCES PARA FUTUROS CALCULOS***************************** -->

            <br />
            <br />

            <ion-col size="12">
                <ion-button color="macana" fill="outline" size="small" (click)="calcularDatos();">{{ 'calcularDatos' | translate }}</ion-button>
            </ion-col>

            <br />
            <br />

            <!-- **************VALORES CALCULADOS AUTOMATICAMENTE***************************** -->
            <ion-item>
                <ion-label position="floating">{{ 'cantidadLances' | translate }}* {{aforoData.cantlances | number: '.'}}</ion-label>
                <ion-input type="number" name="cantidadLancesAforo" required="required" disabled [(ngModel)]="aforoData.cantlances"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'pesoPastoAlto' | translate }}* {{aforoData.pesopastoalto | number: '.'}}</ion-label>
                <ion-input type="number" name="pesoPastoAltoAforo" required="required" disabled [(ngModel)]="aforoData.pesopastoalto"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'pesoPastoMedio' | translate }}* {{aforoData.pesopastomedio | number: '.'}}</ion-label>
                <ion-input type="number" name="pesoPastoMedioAforo" required="required" disabled [(ngModel)]="aforoData.pesopastomedio"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'pesoPastoBajo' | translate }}* {{aforoData.pesopastobajo | number: '.'}}</ion-label>
                <ion-input type="number" name="pesoPastoBajoAforo" required="required" disabled [(ngModel)]="aforoData.pesopastobajo"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'cantidadPasto' | translate }}* {{aforoData.cantpasto | number: '.'}}</ion-label>
                <ion-input type="number" name="cantidadPastoAforo" required="required" disabled [(ngModel)]="aforoData.cantpasto"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'porcentajeAlto' | translate }}* {{aforoData.porcentajealtro | number: '.'}} %</ion-label>
                <ion-input type="number" name="porcentajeAltoAforo" required="required" disabled [(ngModel)]="aforoData.porcentajealtro"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'porcentajeMedio' | translate }}* {{aforoData.porcentajemedio | number: '.'}} %</ion-label>
                <ion-input type="number" name="porcentajeMedioAforo" required="required" disabled [(ngModel)]="aforoData.porcentajemedio"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'porcentajeBajo' | translate }}* {{aforoData.porcentajebajo | number: '.'}} %</ion-label>
                <ion-input type="number" name="porcentajeAltoBajo" required="required" disabled [(ngModel)]="aforoData.porcentajebajo"></ion-input>
            </ion-item>

            <ion-item>
                <strong>
                <ion-label position="floating">{{ 'totalMetroCuadrado' | translate }}* {{aforoData.totalmetrocuadrado | number: '.'}}</ion-label>
                    <ion-input  type="number" name="totalMetroCuadradoAforo" required="required" disabled [(ngModel)]="aforoData.totalmetrocuadrado"></ion-input>
                </strong>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'cantidadPastoPotrero' | translate }}* {{aforoData.cantpastopotrero | number: '.'}}</ion-label>
                <ion-input type="number" name="cantidadPastoPotreroAforo" required="required" disabled [(ngModel)]="aforoData.cantpastopotrero"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'tiempoPotrero' | translate }}* {{aforoData.tiempopotrero | number: '.'}}</ion-label>
                <ion-input type="number" name="tiempoPotreroAforo" required="required" disabled [(ngModel)]="aforoData.tiempopotrero"></ion-input>
            </ion-item>

            <br />
            <br />
            <br />
            <ion-label color="macana">
                {{mjsTiempoPotrero}}
            </ion-label>
            <br />
            <br />
            <br />
            <!-- **************END VALORES CALCULADOS AUTOMATICAMENTE***************************** -->
            <ion-item>
                <ion-label position="floating">{{ 'observaciones' | translate }}</ion-label>
                <ion-input type="text" name="observacionesAforo" [(ngModel)]="aforoData.observaciones"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'fechaEntrada' | translate }}</ion-label>

                <ion-datetime placeholder="{{ 'seleccione' | translate }}" display-format="YYYY MM DD" cancelText="{{ 'cancelar' | translate }}" [(ngModel)]="aforoData.fechaentrada" name="fechaEntrada" [pickerOptions]="customPickerOptions1"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'fechaSalida' | translate }}</ion-label>

                <ion-datetime placeholder="{{ 'seleccione' | translate }}" display-format="YYYY MM DD" cancelText="{{ 'cancelar' | translate }}" [(ngModel)]="aforoData.fechasalida" name="fechaSalida" [pickerOptions]="customPickerOptions2"></ion-datetime>
            </ion-item>


        </ion-list>

        <ion-grid fixed="fixed">
            <ion-row class="ion-text-center">
                <ion-col size="12" *ngIf="!this.helperService.isValidValue(aforoData.id)">
                    <ion-button color="macana" type="submit" [disabled]="formulario.invalid" fill="outline" expand="full">{{ 'guardar' | translate }}</ion-button>
                </ion-col>

                <ion-col size="12" *ngIf="this.helperService.isValidValue(aforoData.id)">
                    <ion-button color="macana" type="submit" [disabled]="formulario.invalid" fill="outline" expand="full">{{ 'editar' | translate }}</ion-button>
                </ion-col>

                <ion-col size="12" *ngIf="this.helperService.isValidValue(aforoData.id)">
                    <ion-button color="macana" fill="outline" expand="full" (click)="deleteAforoData();">{{ 'eliminar' | translate }}</ion-button>
                </ion-col>

                <ion-col size="12">
                    <ion-button color="macana" fill="outline" routerLink="/aforos" expand="full">{{ 'regresar' | translate }}</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>