<app-header titulo="{{ 'aforos' | translate }}"></app-header>

<ion-content>
    <ion-button color="macana" fill="outline" expand="full" routerLink="/aforo-detail">{{ 'crearAforo' | translate }}</ion-button>

    <!-- Este seccion permite que cuando con el dedo desde la parte superior se desliza hacia abajo, 
    entonces se refresque la lista, llamando al metodo refrescar-->
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <br />

    <!-- Por cada uno de los aforos en el listado de aforos, se va a generar cada elemento del listado, ademas se
    genera dinamicamente un evento click con todos los datos que se cargaran visualmente -->
    <ion-item *ngFor="let aforo of aforos" (click)="viewAforo(
    aforo.id,
    aforo.fecha,
    aforo.idpotrero,
    aforo.pastoalto,
    aforo.pastobajo,
    aforo.pastomedio,
    aforo.lancealto,
    aforo.lancemedio,
    aforo.lancebajo,
    aforo.cantlances,
    aforo.pesopastoalto,
    aforo.pesopastobajo,
    aforo.pesopastomedio,
    aforo.cantpasto,
    aforo.porcentajealtro,
    aforo.porcentajemedio,
    aforo.porcentajebajo,
    aforo.totalmetrocuadrado,
    aforo.cantpastopotrero,
    aforo.tiempopotrero,
    aforo.observaciones,
    aforo.idresponsable,
    aforo.fechaentrada,
    aforo.fechasalida)">
        <ion-avatar slot="start">
            <img src="{{baseUrl}}Resource/Images/Users/avatar_2x2.png" />
        </ion-avatar>
        <ion-label>
            <h3 slot="start">
                Fecha: {{aforo.fecha}}
            </h3>
            <p>Potrero: {{aforo.numeropotrero}}</p>
        </ion-label>
    </ion-item>
</ion-content>