<!-- Con el contentId se define donde se renderizara el contenido seleccionado 
    del menu, en este caso en ion-router-outlet el cual tiene tiene ese id, este 
  se encuentra definido en el componente header -->

<!--El SWIPEGESTURE BLOQUEA QUE EL MENU SE MUESTRE AL HACER EL SLIDE CON EL DEDO DESDE LA DERECHA-->
<ion-menu
  side="start"
  menuId="primerMenu"
  contentId="principal"
  swipeGesture="false"
>
  <ion-header>
    <ion-toolbar color="macana">
      <ion-chip
        color="macana"
      >
        <!-- Imagen del usuario que se indifica en el sistema -->
        <ion-avatar>
          <img
          src="{{baseUrl}}{{(imagePerfil !== '' &&  imagePerfil !==null)? imagePerfil: 'Resource/Images/Users/avatar_2x.png' }}"
          />
        </ion-avatar>

        <!-- Nombre del usuario que se identifica en el sistema -->
        <ion-label color="macanaBlanco">{{firstName}} {{lastName}} </ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>

  <!-- Listado de opciones del menu -->
  <ion-content>
    <ion-list>
      <ng-container *ngFor="let permiso of permisos">
      <ion-menu-toggle *ngIf="permiso.activo">
        <ion-item routerLink="{{permiso.codigo}}">
          <ion-icon
            name="{{permiso.icono}}"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ permiso.nombre | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>  
    </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>