<!-- Con el contentId se define donde se renderizara el contenido seleccionado 
    del menu, en este caso en ion-router-outlet el cual tiene tiene ese id -->

<!--El SWIPEGESTURE BLOQUEA QUE EL MENU SE MUESTRE AL HACER EL SLIDE CON EL DEDO DESDE LA DERECHA-->
<ion-menu
  side="start"
  menuId="primerMenu"
  contentId="principal"
  swipeGesture="false"
>
  <ion-header>
    <ion-toolbar color="macana">
      <ion-chip
        color="macana"
      >
        <ion-avatar>
          <img src="http://localhost/MacapaAppBackend/Resource/Images/Users/{{(imagePerfil !== '' )? imagePerfil: 'avatar_2x.png' }}">
        </ion-avatar>

        <ion-label color="macanaBlanco">{{firstName}} {{lastName}} </ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/master-page">
          <ion-icon
            name="home"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'inicio' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/usuarios">
          <ion-icon
            name="person"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'usuarios' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/roles">
          <ion-icon
            name="notifications"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'roles' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/permisos">
          <ion-icon
            name="chatbubbles"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'permisos' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/lote">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'lotes' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/potrero">
          <ion-icon
            name="locate"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'potreros' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/aforos">
          <ion-icon
            name="people"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'aforos' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/vacas">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'vacas' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-menu-toggle>
        <ion-item routerLink="/cambio-climatico">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'cambioClimatico' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-menu-toggle>
        <ion-item routerLink="/pluviosidad">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'pluviosidad' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>




      <ion-menu-toggle>
        <ion-item routerLink="/plaga">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'plagas' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>




      <ion-menu-toggle>
        <ion-item routerLink="/fertilizacion">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'fertilizacion' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>



      <ion-menu-toggle>
        <ion-item routerLink="/reportes">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'reportes' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>






      <ion-menu-toggle>
        <ion-item routerLink="/plan-manejo">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'planManejo' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>







      <ion-menu-toggle>
        <ion-item routerLink="/analisis">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'analisis' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>





      <ion-menu-toggle>
        <ion-item routerLink="/informe">
          <ion-icon
            name="flag"
            slot="start"
            color="macana"
          ></ion-icon>

          <ion-label>{{ 'informes' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
    </ion-list>
  </ion-content>
</ion-menu>