<!-- Con el contentId se define donde se renderizara el contenido seleccionado 
    del menu, en este caso en ion-router-outlet el cual tiene tiene ese id -->

<!--El SWIPEGESTURE BLOQUEA QUE EL MENU SE MUESTRE AL HACER EL SLIDE CON EL DEDO DESDE LA DERECHA-->
<ion-menu
  side="start"
  menuId="primerMenu"
  contentId="principal"
  swipeGesture="false"
>
  <ion-header>
    <ion-toolbar color="flylinkers">
      <ion-chip
        color="flylinkers"
      >
        <ion-avatar>
          <img src="https://flylinkers.com/media/{{(imagePerfil !== '' )? imagePerfil: 'avatar_2x.png' }}">
        </ion-avatar>

        <ion-label color="flylinkersBlanco">{{firstName}} {{lastName}} </ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/master-page">
          <ion-icon
            name="home"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'inicio' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/profile">
          <ion-icon
            name="person"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'perfil' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/notification">
          <ion-icon
            name="notifications"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'notificaciones' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/messages">
          <ion-icon
            name="chatbubbles"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'mensajes' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/interests">
          <ion-icon
            name="flag"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'intereses' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/event">
          <ion-icon
            name="locate"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'eventos' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/network">
          <ion-icon
            name="people"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'red' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/sponsor">
          <ion-icon
            name="flag"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>{{ 'patrocinadores' | translate }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <!-- <ion-menu-toggle>
        <ion-item routerLink="/view-detail-post">
          <ion-icon
            name="person"
            slot="start"
            color="flylinkers"
          ></ion-icon>

          <ion-label>View Post</ion-label>
        </ion-item>
      </ion-menu-toggle> -->
    </ion-list>
  </ion-content>
</ion-menu>