<app-header titulo="{{ 'potreros' | translate }}"></app-header>

<ion-content>

    <ion-button color="macana" fill="outline" expand="full" routerLink="/potrero-detail">{{ 'crearPotrero' | translate }}</ion-button>

    <!-- Este seccion permite que cuando con el dedo desde la parte superior se desliza hacia abajo, 
    entonces se refresque la lista, llamando al metodo refrescar-->
    <ion-refresher slot="fixed" (ionRefresh)="refrescar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <br />

    <!-- Por cada uno de los roles en el listado de roles, se va a generar cada elemento del listado, ademas se
    genera dinamicamente un evento click con todos los datos que se cargaran visualmente -->
    <!--  -->
    <ion-item *ngFor="let potrero of potreros" (click)="viewPotrero(potrero.id, potrero.numero, potrero.area, potrero.observacion,potrero.idrotacion,potrero.estado,potrero.ordenrotacion)">
        <ion-avatar slot="start">
            <img src="{{baseUrl}}Resource/Images/Users/avatar_2x2.png" />
        </ion-avatar>
        <ion-label>
            <h3>Potrero Numero: {{potrero.numero}} </h3>
            <p>
                {{potrero.nombre_rotacion}}
                <br> Area: {{potrero.area | number: '.'}}
            </p>

        </ion-label>
    </ion-item>
</ion-content>