<app-header titulo="{{ 'reportes' | translate }}"></app-header>

<ion-content>
    <ion-button expand="full" color="macana" (click)="desplegrarReportesAforo()">
        {{ 'reporteAforos' | translate }}
    </ion-button>

    <ion-button expand="full" color="macana" (click)="desplegrarReportesCronograma()">
        {{ 'reporteCronogramas' | translate }}
    </ion-button>

    <ion-button expand="full" color="macana" (click)="desplegrarReportesClimatologico()">
        {{ 'reporteClimatologico' | translate }}
    </ion-button>

    <ion-button expand="full" color="macana" (click)="desplegrarReportesRotacion()">
        {{ 'reporteRotacion' | translate }}
    </ion-button>

    <ion-button expand="full" color="macana" (click)="desplegrarReportesPotrero()">
        {{ 'reportePotreros' | translate }}
    </ion-button>

    <ion-button expand="full" color="macana" (click)="desplegrarReportesVaca()">
        {{ 'reporteVacas' | translate }}
    </ion-button>
</ion-content>